<div class="container">
  <div class="row row-aboutus">
    <div class="col-sm-12">
      <h3>Quem somos</h4>
      <p> O <strong>Seekat</strong> é um site totalmente versátil que nasceu para ajudar a divulgar e/ou procurar qualquer forma de propagar o conhecimento.
      A ideia surgiu através da percepção do quão difícil é encontrar lugares que ofertem eventos educacionais e/ou profissionais específicos
      e saber quando estes serão ministrados, local, formas de pagamento e tantos outros detalhes sem que a pessoa tenha que passar horas garimpando as páginas da Web.</p>
      <br>

      <blockquote class="blockquote-seekat">
      <p><strong>Seekat</strong> significa um tipo de polvo além de remeter a ideia de busca/procura <i>(seek)</i>.
      O polvo é um animal que se destaca por ter áreas no cérebro dedicadas à aprendizagem.
      É um animal que consegue se adaptar, aprender por observação além de imitar alguns outros animais. </p>
      </blockquote>
    </div>

    <br>

    <div class="col-sm-12">
      <h3>Missão, Visão e Valores</h3>
      <br>
    </div>


      <div class="col-sm-6">
        <%= image_tag("comunication.png", alt: "comunication", class: "img-responsive") %>
        <h4></strong>COMUNICAÇÃO</strong></h4>
        <p>Ouvir atentamente e comunicar de forma clara e objetiva.</p>
      </div>



      <div class="col-sm-6">
        <%= image_tag("inovation.png", alt: "inovation", class: "img-responsive") %>
        <h4></strong>INOVAÇÃO</strong></h4>
        <p>Estar disposto a aprender o tempo todo, buscando sempre por novas oportunidades através de iniciativas próprias, inspirando e motivando os outros.
        </p>
        <br>
      </div>


      <div class="col-sm-6">
        <%= image_tag("hands.png", alt: "hands", class: "img-responsive") %>
        <h4></strong>COMPROMETIMENTO</strong></h4>
        <p>Entregar atividades e resultados com qualidade cooperando na busca de soluções.</p>
      </div>

      <div class="col-sm-6">
        <%= image_tag("alvo.png", alt: "alvo", class: "img-responsive") %>
        <h4></strong>ATITUDE</strong></h4>
        <p>Agir com foco a auxiliar no processo de tomada de decisão.</p>
      </div>
      <br>


  </div>

</div>
<br>  <br>
