
<h1>Seja um Organizador</h1>

<p>
  1. Perfil <br>
  2. Benefícios <br>
  3. Deveres do Organizador <br>
  4. Requisitos para ser um organizador <br>
  <%= link_to "Cadastre-se",  new_company_path, class: 'btn btn-primary btn-sm' %> <br>

</p>
