<div class="space80"></div>

<div class="container">
  <div class="row-aboutus">
    <div class="col-sm-12">
      <h3>Política de privacidade <bold>Seekat</bold></h3>
        <div class="space25"></div>
          <p> Nossa politica de privacidade visa assegurar a garantia de que, quaisquer informações relativas
          aos usuários, não serão fornecidas, publicadas ou comercializadas em quaisquer circunstancias, ou seja,
          suas informações estarão seguras conosco e não serão transmitidas a terceiros, exceto nas condições
          previstas pela presente política de privacidade.
          Suas informações cadastrais ficam disponibilizadas através de duas maneiras: quando ao se cadastrar,
          de maneira voluntária, são fonrcecidos os dados de cadastro, bem como através de cookies, arquivos
          dos quais podem ser livremente alterados pelo usuário. </p>
      </div>
    </div>
</div> <!--end container politica de privacidade-->

<div class="space60"></div>
