<div class="space60"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-sm-push-2">
      <div class="img-register">
        <%= image_tag("icons/numbers/1.png", alt: "one", class: "img-responsive") %>
      </div>
    </div>

    <div class="col-sm-6 col-sm-push-2 one">
      <div class="one-register">
        CRIE SUA CONTA
      </div>
      <p> Para divulgar seus cursos é necessário cadastrar uma conta. </p>
    </div>
  </div>

  <div class="space60"></div>

  <div class="row">
    <div class="col-sm-3 col-sm-push-2">
      <div class="img-register">
        <%= image_tag("icons/numbers/2.png", alt: "two", class: "img-responsive") %>
      </div>
    </div>

    <div class="col-sm-6 col-sm-push-2 one">
      <div class="one-register">
        CADASTRE O PARCEIRO
      </div>
      <p> Após cadastrar a sua conta, você deverá cadastrar o parceiro,
        (instutição) que estará divulgando os cursos.</p>
    </div>
  </div>

  <div class="space60"></div>

  <div class="row">
    <div class="col-sm-3 col-sm-push-2">
      <div class="img-register">
        <%= image_tag("icons/numbers/3.png", alt: "one", class: "img-responsive") %>
      </div>
    </div>

    <div class="col-sm-6 col-sm-push-2 one">
      <div class="one-register">
        DIVULGUE SEU CURSO
      </div>
      <p> Agora é só cadastrar o seu curso, que adivulgação fica por nossa conta.</p>
    </div>
  </div>

</div> <!--end of container!-->

<div class="space120"></div>
