<div class="container">
  <div class="row row-aboutus">
    <div class="col-sm-12">
      <h3>Suporte</h4>
      <p> O <strong>Seekat</strong> é um site totalmente versátil que nasceu para ajudar a divulgar e/ou procurar qualquer forma de propagar o conhecimento.
      A ideia surgiu através da percepção do quão difícil é encontrar lugares que ofertem eventos educacionais e/ou profissionais específicos
      e saber quando estes serão ministrados, local, formas de pagamento e tantos outros detalhes sem que a pessoa tenha que passar horas garimpando as páginas da Web.</p>
      <br>

    </div>
  </div>
</div>
<br>  <br>
