<div class="space120"></div>

<div class="container">
  <div class="row-aboutus">
    <div class="col-sm-12">
      <h1>Termos de uso <b>Seekat</b></h1>
      <div class="divider-4px-yellow"> </div>
      <div class="space40"></div>
    </div>
  </div>

  <div class="row-aboutus">
    <div class="col-sm-12">
      <h3>Política de privacidade <b>Seekat</b></h3>
        <div class="space30"></div>
          <p>
            Nossa politica de privacidade visa assegurar a garantia de que, quaisquer informações relativas
            aos <b>USUÁRIOS</b>, não serão fornecidas, publicadas ou comercializadas em quaisquer circunstancias, ou seja,
            suas informações estarão seguras conosco e não serão transmitidas a terceiros, exceto nas condições
            previstas pela presente política de privacidade.
            Suas informações cadastrais ficam disponibilizadas através de duas maneiras: quando ao se cadastrar,
            de maneira voluntária, são fonrcecidos os dados de cadastro, bem como através de cookies, arquivos
            dos quais podem ser livremente alterados pelo <b>USUÁRIO</b>.
          </p>

          <div class="space60"></div>

          <h3>Cadrasto</h3>
          <div class="space30"></div>
              <p>
                Para receber os e-mails do <b><i>Seekat</i></b> com informações sobre nossos serviços, é necessário
                se cadastrar no site <b><i>Seekat</i></b>. Este cadastro é armazenado em um banco de dados protegido e sigiloso.
                Qualquer comunicação enviada para o seu e-mail será através do boletim periódico do <b><i>Seekat</i></b>.
                Ao fornecer seus dados pessoais a fim de obter o acesso aos serviços do <b><i>Seekat</i></b>, seus dados serão
                utilizados para as operações internas do <b><i>Seekat</i></b>, tais como: gerenciamento de sua conta,
                atendimento ao cliente, ajudar a melhorar o <b>CONTEÚDO</b> e a funcionalidade do site,
                identificar potenciais atividades fraudulentas e fazer valer nossos <a href="terms-of-use.html"><b><a href="terms-of-use.html"><b>TERMOS DE USO</b></a>.</b> </a>
              </p>

            <div class="space60"></div>

            <h3>Cookies</h3>
            <div class="space30"></div>
                <p>
                  <a href="https://pt.wikipedia.org/wiki/Cookie_HTTP"><b>Cookies</b> </a> é um pequeno pacote de dados enviados de um web site para o navegador do <b>USUÁRIO</b> quando
                  o <b>USUÁRIO</b> visita o site. Cada vez que o <b>USUÁRIO</b> visita o site novamente, o navegador envia o
                  cookie de volta para o servidor para notificar atividades prévias do <b>USUÁRIO</b>. O site <b><i>Seekat</i></b> utiliza cookies
                  para ajudar a identificar os visitantes da página. Os visitantes que não desejem armazenar os
                  cookies deverão desabilitá-los na configuração de seu navegador.
                </p>

            <div class="space60"></div>

            <h3>Compartilhamento de informações</h3>
            <div class="space30"></div>
                <p>
                  Para fins de segurança as  informações poderão ser compartilhadas quando houver
                  requerimento de autoridades judiciais ou governamentais competentes para fins
                  de investigações pessoais conduzidas por elas, mesmo que não exista uma ordem judicial.
                </p>

            <div class="space60"></div>

            <h3>Segurança das informações</h3>
            <div class="space30"></div>
                <p>
                  Todos os dados pessoais informados ao nosso site são armazenados em um banco de
                  dados reservado e com acesso restrito às pessoas habilitadas do site <b><i>Seekat</i></b>.
                </p>

            <div class="space60"></div>

            <h3>Mudanças na política de privacidade</h3>
            <div class="space30"></div>
              <p>
                O site <b><i>Seekat</i></b> é constantemente aprimorado com novas funcionalidades e novos serviços
                prestados e eventualmente será necessário alterar os a Política de Privacidade.
                A cada vez que ocorrer alguma alteração atualizaremos a data da última
                modificação, disponível no inicio da página. Reservamo-nos o direito de alterar a política de privacidade a qualquer momento.
              </p>

            <div class="space60"></div>

            <h3>Consentimento</h3>
            <div class="space30"></div>
              <p> Ao utilizar o site <b><i>Seekat</i></b>, o <b>USUÁRIO</b>(S) concorda com a Política de Privacidade aqui descrita.
              </p>

            <div class="space80"></div>
            <h3>Conheça os
                <%= link_to "Termos de uso",  terms_path %>
                do <b>Seekat</b></h3>

      </div>
    </div>
  </div>

<div class="space120"></div>
