<%= simple_form_for(@category_type) do |f| %>

  <div class="form-group">
    <%= f.association :category %>
    <%= f.input :name %>
  </div>

  <br>
  <%= f.submit "Salvar", class: 'btn btn-primary' %>
<% end %>
