<h1>Editar Categoria</h1>

<%= render 'form' %>

<br>
<%= link_to 'Exibir', @category_type, class: 'btn btn-default btn-sm' %>
<%= link_to 'Voltar', category_types_path, class: 'btn btn-default btn-sm' %>
