<%= render "shared/formbg_header" %>

  <div class="panel-heading">
    <h2> Novo Curso | Evento </h2>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
    <br>
    <%= link_to 'Voltar', courses_path, class: 'btn btn-link btn-sm'  %>
  </div>

<%= render "shared/formbg_footer" %>
