<p>Olá <%= @resource.email %>!</p>

<p>
  Alguém solicitou um link para mudar sua senha. Você poderá mudar no seguinte link:
</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
  Se voce nao solicitou isso, por favor ignore este email.
</p>

<p>
  Sua senha não mudará até que você acesse o link acima.
</p>
