<p>Olá <%= @resource.email %>!</p>

<p>
  Sua conta está bloqueada por um número excessivo de tentativas falhas de login.
</p>

<p>
  Click no link abaixo para desbloquear:
</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
