<footer class="footer">
  <small>
    Desenvolvido por
    <a href="https://github.com/jcvicelli/" target="_blank">Jean Carlo Vicelli</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",  about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
    </ul>
  </nav>
</footer>
